.alert-box {
    display: inline-block;
    color: #555;
    border-radius: 10px;
    font-family: Tahoma, Geneva, Arial, sans-serif;
    font-size: 16px;
    padding: 10px 10px 10px 36px;
    margin: 10px;
}

.alert-box span {
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 10px;
}

.alert-box.error {
    background: #ffecec;
    border: 1px solid #f5aca6;
}

.alert-box.success {
    background: #e9ffd9;
    border: 1px solid #a6ca8a;
}

.alert-box.warning {
    background: #fff8c4;
    border: 1px solid #f2c779;
}

.alert-box.notice {
    background: #e3f7fc;
    border: 1px solid #8ed9f6;
}

.alert-box>div {
    float: right;
}

.alert-box>div:after {
    clear: both;
}