form.crudform,
div.details {
    margin: 3px;
}

form.crudform>div.formentry>label,
div.details>div.name {
    display: inline-block;
    text-align: right;
    width: 140px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

form.crudform>div.formentry>fieldset,
form.crudform>div.formentry>input,
form.crudform>div.formentry>textarea,
form.crudform>div.formentry>div.select,
form.crudform>div.formentry>div.value,
div.details>div.value {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.details>div.value.text {
    background-color: white;
    padding: 10px;
}

#canvas div.details>div.value.text {
    max-width: calc(100% - 170px);
}

div.modal div.details>div.value.text {
    max-width: calc(100vw - 370px);
}

div.details>div.value.text blockquote {
    margin-left: 0px;
    margin-right: 0Px;
    border-left: 10px solid #ccc;
    padding: 10px;
}

div.details>div.value.text blockquote::before {
    /*content: '';
    background-color: grey;
    width: 5px;*/
}

div.details>div.value.pre {
    white-space: pre-wrap;
}

div.details>div.value.pre>div {
    white-space: initial;
}

div.details>div.value.pre code {
    display: block;
    color: var(--color-code);
    background-color: var(--bg-color-code);
}