div.menu.iconbar {
    display: block;
    float: left;
    width: 54px;
    background-color: #282a35;
}

div.menuitem.iconbar {
    padding: 14px 16px;

    text-align: center;
    text-decoration: none;
    box-shadow: none;

    background-color: #282a35;
    color: white;
}

div.menuitem.iconbar.active {
    background-color: #2196f3;
    color: white;
}

div.menuitem.iconbar:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

div.menuitem.iconbar>i>svg {
    stroke: white;
    stroke-width: 4px;
}

div.menuitem.iconbar>i>svg>g>g {
    fill: white;
}

div.menuitem.iconbar:hover:not(.active)>i>svg {
    stroke: black;
}

div.menuitem.iconbar:hover:not(.active)>i>svg>g>g {
    fill: black;
}

span.bubble {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: .75rem;
    line-height: 1rem;
    min-width: 1rem;
    border-radius: .5rem;
    color: #fff;
    background: #f9423a
}

span.bubble.top {
    top: -8px;
}

span.bubble:not(.top) {
    top: 6px;
    left: -8px;
}