#searchContainer {
    display: flex;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}

#searchContainer form {
    margin-bottom: 0px;
}

#searchContainer form>div {
    display: block;
    position: relative;
    float: left;
}

#searchContainer input[type="text"] {
    min-width: 500px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 60px;
    border: none;
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#searchContainer form div.iconBox {
    position: absolute;
    top: 0px;
    right: 0px;
}

#searchContainer form div.btn.icon {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 3px;
    width: 16px;
    height: 16px;

    text-align: center;
    color: black;
    border: 1px solid white;
    border-radius: 0.3rem;
}

#searchContainer form div.btn.icon:hover {
    background: #ccc;
    cursor: pointer;
}

#searchContainer button {
    float: right;
    padding: 6px 10px;
    height: 100%;
    background: #d7d7d7;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#searchContainer button:hover {
    background: #ccc;
}