div.tree {
    display: inline-block;
}

div.treegroup {
    display: none;
    position: relative;
    width: max-content;
    z-index: 3;
}

div.treegroup.show {
    display: block;
}

div.treenode:not(.dummyRoot) {
    display: block;
    position: relative;

    padding: 10px;
    margin: 1px;
    border: solid white 1px;

    background-color: var(--color-node-blue);
    color: white;

    font-size: 16px;
    cursor: pointer;
}