div.wiki_page {
    border-style: solid;
    border-color: black;
}

div.wiki_code {
	/*padding: 10px;*/
	margin: 10px;
	background-color: grey;
}

div.wiki_chapter {
	/*font-style: italic;*/
	font-weight: bold;
	text-decoration:underline;
}